/*Responsive Styles*/

/* Extra Small Screens (Mobile) */
@media only screen and (max-width: 576px) {
    .proj-category {
        grid-template-columns: 1fr;
        width:8vw;
        align-content: center;
    }

    .proj-category h2 {
        
        font-size:1rem;
        object-fit:contain;
    }

    h4 {
        font-size:0.85rem;
    }

    .proj-category ul{
        
        display:none !important;
    }

    html {
        font-size:8px;
    }
}

/* Small Screens (Tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {

    html {
        font-size:10px;
    }
    
}

/* Medium Screens (Large Tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    html {
        font-size:12px;
    }

}

/* Large Screens (Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/* Extra Large Screens (Large Desktops) */
@media only screen and (min-width: 1441px) {
}

/* General Styles - Smaller than Medium Tablets */

@media only screen and (max-width: 1024px) {

    /* Homepage styles */
    .proj-category {
        grid-template-columns: 1fr;
        width:10vw;
        align-content: center;
    }

    .proj-category ul{
        margin-top:3vh;
        font-size:10px;
        display:flex;
        flex-direction:column;
        text-align:center;
    }

    /* Project Page Styles */
    #proj-pg-wrapper {
        display: grid;
        width:100%;
        grid-template-columns: 1fr;
        row-gap: 0.5vh;
    }

    .proj-pg-info-wrapper{
        margin-top:4vh;
        order:1;
        display:grid;
        grid-template-columns: 3fr 6fr;
        column-gap: 4vw;
        width: 80vw;
        
    }

    .proj-pg-text{
        width:100%;
    }

     #credits {
        position: relative;
        justify-content: start;
        margin-bottom:4vh;
    }

    #credits h6 {
        position:relative;
        z-index:1;
        transform: none;
        top: auto;
    }

    .proj-img-number{
        display:flex;
        justify-content:center;
        margin: 1vh;
    }

    /* About Page Styles */
    #about-content {
        width:90%;
    }
}